<h5>Note: Following steps need to follow before uploading file</h5>

<ul>
  <li>Image format : JPEG, PNG formats. Animated .gif files not accepted.</li>
  <li>Image Size : {{ size || "2400x1600px" }} Pixel Image Size.</li>
  <li>Image Frame : At least 85% of the entire frame or background must be filled.</li>
  <li>
    Background Colour : White or transparent background is allowed. However white is preferred more. Colorful backgrounds are not at all
    accepted.
  </li>
  <ng-content> </ng-content>
  <!-- <li>Image Colour Mode : RGB or CMYK can be used.</li>
  <li>
    Cannot use : You cannot use any badges used on Amazon, logos or trademarks of amazon, ALEXA PRIME or the Amazon
    similar design.
  </li>
  <li>Cannot include badges : Like “Amazon’s choice”, “Top seller”, “Best seller”, “Amazon Alexa” and so on.</li> -->
</ul>
