<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-7 col-auto">
          <h3 class="page-title">Add Template</h3>
        </div>
        <div class="col-sm-5 col">
          <!-- <button (click)="location.back()" class="btn btn-primary btn-sm float-right mt-2"><i class="fa fa-arrow-left"></i> Back</button> -->
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row">
      <div class="col-sm-12">
        <!-- <div class="col-12">
            <div class="card">
              <div class="card-body">
                <app-image-guideline>
                  <li>Sample Image: <a download="assets/img/category.png" href="assets/img/category.png">Download Sample Image</a></li>
                </app-image-guideline>
              </div>
            </div>
          </div> -->
        <form>
          <div class="card">
            <div class="card-body">
              <div class="row form-row">
                <!-- brandName -->
                <div class="col-6">
                  <div class="form-group">
                    <label for="validationServer02" class="required-label">Template Name</label>
                    <!-- [ngClass]="
                        form.get('brandName')?.touched ? (form.get('brandName')?.hasError('required') ? 'is-invalid' : 'is-valid') : ''
                      " -->
                    <input
                      maxlength="50"
                      type="text"
                      class="form-control"
                      id="validationServer02"
                      placeholder="Template Name"
                      required
                      formControlName="templateName"
                    />
                    <!-- <app-input-error [control]="form.get('brandName')!" [fieldName]="'Name'"> </app-input-error> -->
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="validationServer02" class="required-label">Template Number</label>
                    <!-- [ngClass]="
                        form.get('brandName')?.touched ? (form.get('brandName')?.hasError('required') ? 'is-invalid' : 'is-valid') : ''
                      " -->
                    <input
                      maxlength="50"
                      type="text"
                      class="form-control"
                      id="validationServer02"
                      placeholder="Template Number"
                      required
                      formControlName="templateNumber"
                    />
                    <!-- <app-input-error [control]="form.get('brandName')!" [fieldName]="'Name'"> </app-input-error> -->
                  </div>
                </div>
                <div class="col-sm-7 col-auto">
                  <label for="validationServer02" class="required-label">Template</label>
                </div>
                <div class="col-12">
                  <input
                    [hidden]="true"
                    multiple
                    type="file"
                    accept="application/msword"
                    (change)="chooseFile($event, 'image', false)"
                    class="form-control"
                    id="validationServer02"
                    #image
                  />
                  <!-- (focus)="form.get('image')?.markAsTouched()" -->

                  <button type="button" (click)="image.click()" class="btn btn-primary btn-sm float-right mt-2">
                    <i class="fa fa-upload"></i> Pick Template
                  </button>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="required-label" for="validationServer01">Description</label>

                    <!-- [ngClass]="form.get('fullDesc')?.touched ? (form.get('fullDesc')?.errors ? 'is-invalid' : 'is-valid') : ''"
                      [config]="editorConfig" -->
                    <angular-editor id="editor2" formControlName="fullDesc" [config]="editorConfig"></angular-editor>

                    <!-- <app-input-error [control]="form.get('fullDesc')!" [fieldName]="'Description'"> </app-input-error> -->
                  </div>
                </div>

                <!-- brandName -->

                <!-- categories -->
                <!-- <div class="col-6">
                    <div class="form-group">
                      <label for="validationServer01">Top Categories</label>
                      <div class="rounded-sm">
                        <ng-select
                          #col
                          [searchable]="true"
                          [notFoundText]="'No items found.'"
                          [closeOnSelect]="false"
                          [items]="categories"
                          [multiple]="true"
                          [placeholder]="'---select categories---'"
                          formControlName="categories"
                          bindValue="_id"
                          bindLabel="name"
                        >
                          <ng-template ng-header-tmp>
                            <div class="d-flex justify-content-lg-between">
                              <div>
                                <button
                                  type="button"
                                  class="btn btn-link"
                                  (click)="onSelectAll()"
                                >
                                  Select All
                                </button>
                                <button
                                  type="button"
                                  class="btn btn-link"
                                  (click)="onClearAll()"
                                >
                                  Clear All
                                </button>
                              </div>
                              <button
                                (click)="col.close()"
                                type="button"
                                class="btn btn-link"
                              >
                                <i class="fa fa-close"></i>
                              </button>
                            </div>
                          </ng-template>
                          <ng-template
                            ng-option-tmp
                            let-item="item"
                            let-item$="item$"
                            let-index="index"
                          >
                            <input
                              id="item-{{ index }}"
                              type="checkbox"
                              [checked]="item$.selected"
                            />
                            &nbsp; {{ item.name }}
                          </ng-template>
                        </ng-select>
                      </div>
                      <app-input-error
                        [control]="form.get('categories')!"
                        [fieldName]="'Categories'"
                      >
                      </app-input-error>
                    </div>
                  </div> -->
                <!-- categories -->

                <!-- isApproved -->
                <!-- <div class="col-6">
                    <div class="form-group">
                      <label for=""><b> Active</b></label>
                      <input
                        formControlName="isApproved"
                        type="checkbox"
                        id="status_f"
                        [ngClass]="true ? 'check active' : 'check'"
                      />
  
                      <label for="status_f" class="checktoggle">checkbox</label>
                    </div>
                  </div> -->
                <!-- isApproved -->

                <!-- image -->
                <!-- <div class="col-12">
                      <input
                      [hidden]="true"
                      multiple
                      type="file"
                      accept="image/*"
                      (change)="chooseFile($event, 'image', false)"
                      (focus)="form.get('image')?.markAsTouched()"
                      class="form-control"
                      id="validationServer02"
                      #image
                    />
  
                    <button type="button" (click)="image.click()" class="btn btn-primary btn-sm float-right mt-2">
                      <i class="fa fa-upload"></i> Pick Image
                    </button>
                  </div> -->
                <!-- image -->
                <div class="col-12">
                  <!-- <app-input-error [control]="form.get('image')!" [fieldName]="'Image'"> </app-input-error> -->
                </div>
                <!-- <div class="col-12">
                    <div class="d-flex align-content-start pt-2">
                      <div class="d-flex">
                        <a [href]="" data-fancybox="gallery">
                          <img class="img-thumbnail" style="height: 100px" [src]="" />
                        </a>
                        <div class="mb-1 cursor trashImage">
                          <i class="fa fa-trash-o text-danger"></i>
                        </div>
                      </div>
                    </div>
                  </div> -->
              </div>
            </div>
          </div>

          <button class="btn btn-primary float-right" type="submit">
            <!-- <span class="spinner-border spinner-border-sm mr-2" role="status"></span> -->
            Save
          </button>
          <br /><br />
          <br /><br />
          <!-- businessAddress -->
        </form>
      </div>
    </div>
    <!-- /ADD Modal -->
  </div>
</div>
