/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.snackbar {
  color: white;
}

.cdk-overlay-container {
  z-index: 9999 !important;
}

.cursor {
  cursor: pointer;
}

.mat-progress-bar-fill::after {
  background-color: #ef7b00;
}
.ddplayer,
#dplayer,
.dplayer-video-wrap,
.dplayer-video-current,
.dplayer-video-wrap,
.dplayer-bezel,
.dplayer-mask {
  max-height: 400px;
}

.required-label:after {
  color: red;
  content: " *";
}

.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.2em 0px 0.7em 0px;
}

.mat-chip-list-wrapper input.mat-input-element,
.mat-chip-list-wrapper .mat-standard-chip {
  margin: 0px 2px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
