<!-- <ng-container *ngIf="!product">
  <div >Loading...</div>
</ng-container>

<ng-container *ngIf="product">
  <section id="breadcrumbRow" class="row">
    <h2>{{ product.name | elipsis }}</h2>
    <div class="row pageTitle m0">
      <div class="container">
        <h4 class="fleft">{{ product.name | elipsis }}</h4>
        <ul class="breadcrumb fright">
          <li><a [routerLink]="['/']">home</a></li>
          <li class="active">{{ product.name | elipsis }}</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="  contentRowPad home_2">
    <div class="container">
      <div class="  productDetilsContainer singleProduct">
        <div class="Pimages">
          <app-product-slider [p]="product"></app-product-slider>
        </div>
        <div class="prodctDetailsRight">
          <div class="  m0">
            <h4 class="heading">
              {{ product.name | titlecase }}
            </h4>
             
            <h3 class="heading price" *ngIf="product">
              <del>{{ product.mrp | currency : "INR" }}</del
              >{{ product.sellingPrice | currency : "INR" }}
            </h3>
           

            <div class=" ">
              <div class=" ">
                <h4 class="heading detailsHeading">Colors</h4>
              </div>
              <div class=" colorWidthFlex">
              <div class="  cursor colorWidth" *ngFor="let prod of productData?.data" (click)="selectVariant(prod._id)">
                <img
                  *ngIf="prod.images?.length"
                  [ngClass]="product._id == prod._id ? 'selected' : ''"
                  class="img-responsive img-thumbnail"
                  [src]="prod.images[0].xs"
                  [alt]="prod.name"
                />
              </div>
              </div>
            </div>
             
            <div class=" sizeHeading">
              <div class=" ">
                <h4 class="heading">Sizes</h4>
              </div>
              <div class="sizeFlexs">
			  <div
                class="  text-center cursor"
                *ngFor="let size of product.sizes"
                (click)="selectSize(size)"
                [ngClass]="selectedSize == size ? 'selected' : ''"
              >
                <h3>
                  <span> {{ size }} </span>
                </h3>
              </div>
              </div>
            </div>

             <div class="pDescs">
            <div [innerHTML]="product.shortDesc"></div>
			</div>
             
            <button *ngIf="product" class="fleft btn btn-default" (click)="addProductToCart(product)" [disabled]="product.quantity < 1">
              <i class="fa fa-shopping-cart"></i> &nbsp;
              {{ product.quantity < 1 ? "Out of Stock" : cartService.isInCart(product._id, selectedSize!) ? "Go to cart" : "Add to cart" }}
            </button>

            <ul class="list-inline">
              <li>
                <a href="javascript:void(0)" class="btn btn-primary" (click)="addToWishList(product)">
                  <i [ngClass]="wishService.isInWishList(product._id) ? 'fa fa-heart' : 'fa fa-heart-o'"></i> &nbsp; Add to Wishlist</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <app-product-description [product]="product"></app-product-description>
      <!--Tabs Row
      <app-similar-products [product]="product"></app-similar-products>
    </div>
  </section>
</ng-container> -->


<ng-container *ngIf="!product">
  <div >Loading...</div>
</ng-container>

<ng-container *ngIf="product">
  <section id="breadcrumbRow" class="row">
    <h2>{{ product.name | elipsis }}</h2>
    <div class="row pageTitle m0">
      <div class="container">
        <h4 class="fleft">{{ product.name | elipsis }}</h4>
        <ul class="breadcrumb fright">
          <li><a [routerLink]="['/']">home</a></li>
          <li class="active">{{ product.name | elipsis }}</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="  contentRowPad home_2">
    <div class="container">
      <div class="  productDetilsContainer singleProduct">
        <div class="Pimages">
          <app-product-slider [p]="product"></app-product-slider>
        </div>
        <div class="prodctDetailsRight">
          <div class="  m0">
            <h4 class="heading">
              {{ product.name | titlecase }}
            </h4>
             
            <h3 class="heading price" *ngIf="product">
              <del>{{ product.mrp | currency : "INR" }}</del>{{ product.sellingPrice | currency : "INR" }} 
              <div style="
              position: absolute;
              left: 63%;
              margin-top: -4px;
              color: green;
          ">
                <i class="fa fa-percent" style="font-size: 13px;margin-right: 5px;"></i><span style="
                font-size: 17px;
            ">{{ sum(product.sellingPrice,product.mrp) }} off</span>
              </div>
            </h3>
            
           

            <div class=" ">
              <div class=" ">
                <h4 class="heading detailsHeading">Colors</h4>
              </div>
              <div class=" colorWidthFlex">
              <div class="  cursor colorWidth" *ngFor="let prod of productData?.data" (click)="selectVariant(prod._id)">
                <img
                  *ngIf="prod.images?.length"
                  [ngClass]="product._id == prod._id ? 'selected' : ''"
                  class="img-responsive img-thumbnail"
                  [src]="prod.images[0]"
                  [alt]="prod.name"
                />
              </div>
              </div>
            </div>
            <div class=" sizeHeading" *ngIf="product?.isCustomize ==true">
              <div class=" ">
                <h4 class="heading">Any message for seller</h4>
              </div>
              <div class="sizeFlexs">
                <textarea name="customize" (keyup)="getCustom($event)" id="customize" cols="30" rows="3"></textarea>
              </div>
            </div>
            <div class=" sizeHeading" *ngIf="product?.isCustomize ==true">
              <div class=" ">
                <h4 class="heading">Couple Name</h4>
              </div>
              <div class="sizeFlexs">
                <input class="formNAme" type="text" (keyup)="getName($event)">
              </div>
            </div>
             
            <div class=" sizeHeading">
              <div class=" ">
                <h4 class="heading">Sizes</h4>
              </div>
              <div class="sizeFlexs">
			  <div
                class="  text-center cursor"
                *ngFor="let size of product.sizes"
                (click)="selectSize(size)"
                [ngClass]="selectedSize == size ? 'selected' : ''"
              >
                <h3>
                  <span> {{ size }} </span>
                </h3>
              </div>
              </div>
            </div>

             <div class="pDescs">
            <div [innerHTML]="product.shortDesc"></div>
			</div>
             
            <button *ngIf="product" class="fleft btn btn-default" (click)="addProductToCart(product)" [disabled]="product.quantity < 1">
              <i class="fa fa-shopping-cart"></i> &nbsp;
              {{ product.quantity < 1 ? "Out of Stock" : cartService.isInCart(product._id, selectedSize!) ? "Go to cart" : "Add to cart" }}
            </button>

            <ul class="list-inline">
              <li>
                <button href="javascript:void(0)" class="btn btn-primary" (click)="addToWishList(product)">
                  <i [ngClass]="wishService.isInWishList(product._id) ? 'fa fa-heart' : 'fa fa-heart-o'"></i> &nbsp; Add to Wishlist
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div style="clear:both;"></div>
	   <app-product-description [product]="product"></app-product-description>
      <!--Tabs Row-->
      <app-similar-products [product]="product"></app-similar-products>
    </div>
  </section>
 
</ng-container>