<br /><br />
<div class="container home_1" >
  <!-- <h3>What is Manihar?</h3> -->
  <p>
    Manihar.com is an online store of wedding-chuda, bangles & kalira. We are client driven company and we understand the emotions & needs of a bride and her family.
  </p>
  <br>

  <!-- <h3>Why do we use it?</h3> -->
  <p>
    We as a manufacturer of seep bridal-chuda realized that normally its hard for a small retailer 
    to keep a wide variety of designs of original quality seep-chuda because of the factor of high prices 
    of original seep & continuously changing designs. So local market stores came up with a solution, they 
    started selling low quality plastic chuda which is economical in terms of money & it helped them in maintaining 
    chuda stock in their store with just a very little budget, it also sells fast as it is in the budget of a walk-in customer.
  </p>
  <br>

  <!-- <h3>Where does it come from?</h3> -->
  <p>
    But it was not fulfilling the traditional purpose of original seep bangles, which is to tie-a-knot 
    in the relations of newly wedded couple. So we started associating with only those brands like us, 
    who use original wedding bangle material in manufacturing their wedding-chuda-designs.
  </p>
  <br>

  <p>
    Also the change in the buying behavior of customers triggered us to create a platform where industry 
    leaders can sell together & serve the quality concerned brides by delivering to their door-step, so 
    now with bangle-house, the best & the original quality is just a few clicks away.
  </p>
  <br>

  <!-- <h3>Where can I get some?</h3> -->
  <p>
    We launch new designs periodically as per the trend & demand. We are pioneer in our field and aims at 
    gaining customer satisfaction in terms of- Quality, New variety, Price, On-time delivery and Satisfaction.
  </p>
  <br>

  <p>
    We possess customer-centric attitude, paying equal attention to quality, prompt communications and on-time 
    shipment. You may choose us for exclusive quality & collection, We ensures hassle-free transactions, smooth 
    processing of orders and long-term association
  </p>
</div>

<br /><br />
