/* You can add global styles to this file, and also import other style files */

@import "~css-star-rating/css/star-rating";

html, body {
    /* height: 100%; */
    display: block;
    background: #f8f6f4;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
  margin-bottom: 5px;
}

.cursor {
  cursor: pointer;
}
 
