<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="dataTables_length" id="DataTables_Table_0_length">
      <label
        >Show
        <select
          (change)="onChangePageSize($event)"
          name="DataTables_Table_0_length"
          aria-controls="DataTables_Table_0"
          class="custom-select custom-select-sm form-control form-control-sm"
        >
          <option [selected]="pageSize == 10" [value]="10">10</option>
          <option [selected]="pageSize == 25" [value]="25">25</option>
          <option [selected]="pageSize == 50" [value]="50">50</option>
          <option [selected]="pageSize == 100" [value]="100">100</option>
        </select>
        entries</label
      >
    </div>
  </div>
  <div class="col-sm-12 col-md-6"></div>
</div>
