.top-bar 
{
	height:100%;
	border-bottom: 1px solid #e8ebf3;
	background: linear-gradient(135deg, #1650e2 0%, #7e51ec 100%);
}

.top-bar-left .socials
{
	display: flex;
    justify-content: space-around;
    width: 100%;
	list-style-type: none;
}

.top-bar-left
{
	height: 100%;
    display: flex;
    /* background-color: #fff; */
}

.top-bar-right .custom
{
	display: flex;
    justify-content: space-around;
    width: 100%;
	list-style-type: none;
}

.top-bar-right .custom li a
{
	display:flex;
}

.top-bar-right .custom li a i, .top-bar-right .custom li a, .top-bar-left .socials li a i, .callnumber 
{
	color:#fff;
	line-height: 31px;
}

.top-bar-right .custom li span
{
	margin-left:10px;
}

.align_vcenter
{
	display: flex;
	flex-direction:column;
    justify-content: center;
    width: 100%;
	list-style-type: none;	
}


/* Navigation Bar */

.logo {
  max-width: 200px;
}

.navbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  padding: 10px 50px;
}

.push-left {
  margin-left: auto;
}

.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: inline-block;
  }
}
.hamburger-line {
  background: #272727;
  height: 3px;
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}
.hamburger:hover .hamburger-line {
  background: #777;
}
.hamburger-line-top {
  top: 3px;
}
.menu-active .hamburger-line-top {
  top: 50%;
  transform: rotate(45deg) translatey(-50%);
}
.hamburger-line-middle {
  top: 50%;
  transform: translatey(-50%);
}
.menu-active .hamburger-line-middle {
  left: 50%;
  opacity: 0;
  width: 0;
}
.hamburger-line-bottom {
  bottom: 3px;
}
.menu-active .hamburger-line-bottom {
  bottom: 50%;
  transform: rotate(-45deg) translatey(50%);
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.25s ease-in;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    background: #fff;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translatey(-100%);
    text-align: center;
  }
  .menu-active .nav-menu {
    transform: translatey(0%);
    opacity: 1;
  }
}
.nav-menu .menu-item a {
  color: #444444;
  display: block;
  line-height: 30px;
  margin: 0px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-menu .menu-item a:hover {
  color: #777777;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .nav-menu .menu-item a {
    font-size: 20px;
    margin: 8px;
  }
}

.sub-nav {
  border: 1px solid #ccc;
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 5px 5px;
  list-style: none;
  width: 230px;
}
@media screen and (max-width: 768px) {
  .sub-nav {
    position: relative;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }
}

.nav__link:hover + .sub-nav {
  display: block;
}

.sub-nav:hover {
  display: block;
}

.horizontalMenu > .horizontalMenu-list > li > .horizontal-megamenu .megamenu-content {
    border: 1px solid #e8ebf3;
    background-color: #f1f1f1;
    padding: 14px 20px;
    border-radius: 2px;
    box-shadow: 0px 5px 25px rgb(39 55 76 / 20%);
}

.horizontalMenu > .horizontalMenu-list > li > .horizontal-megamenu .link-list li a {
    line-height: 18px;
    border-right: none;
    text-align: left;
    padding: 6px 0px;
    background: unset;
    background-image: none;
    color: #6c6a8d;
    border-right: 0 none;
    display: block;
    background-color: unset;
    font-size: 14px;
}

.horizontalMenu > .horizontalMenu-list 
{
    text-align: left;
    margin: 0 auto 0 auto;
    width: 100%;
    display: block;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul.horizontalMenu-list li a img
{
	width:200px;
}

.horizontal-main 
{
	width: 100%;
	position: relative;
	height: 62px;
}	


.horizontalMenu 
{
    color: #fff;
    font-size: 14px;
    padding: 0px 0;
    float: unset;
    padding-bottom: 0;
    display: block;
}

.horizontalMenu > .horizontalMenu-list > li > ul.sub-menu 
{
    position: absolute;
    top: 69px;
    z-index: 1000;
    margin: 0px;
    padding: 5px;
    min-width: 190px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    box-shadow: 0px 5px 25px rgb(39 55 76 / 20%);
}

.horizontalMenu-list .sub-menu:before, .horizontalMenu-list .halfdiv:before {
    position: absolute;
    top: -6px;
    left: 12px;
    display: inline-block;
    border-right: 5px solid #f1f1f1;
    border-bottom: 5px solid rgb(241 241 241);
    border-left: 5px solid #f1f1f1;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.horizontalMenu-list .sub-menu:after {
    position: absolute;
    top: -5px;
    left: 12px;
    display: inline-block;
    border-right: 5px solid #f1f1f1;
    border-bottom: 5px solid #f1f1f1;
    border-left: 5px solid #f1f1f1;
    content: '';
}

.horizontalMenu > .horizontalMenu-list > li > ul.sub-menu > li > a {
    background-image: none;
    color: #000000;
    border-right: 0 none;
    text-align: left;
    display: block;
    line-height: 22px;
    padding: 8px 12px;
    text-transform: none;
    font-size: 14px;
    letter-spacing: normal;
    border-right: 0px solid;
}

.horizontalMenu > .horizontalMenu-list > li > .horizontal-megamenu .link-list li a {
    line-height: 18px;
    border-right: none;
    text-align: left;
    padding: 6px 0px;
    background: unset;
    background-image: none;
    color: #000000 !important;
    border-right: 0 none;
    display: block;
    background-color: unset;
    font-size: 14px;
}

.horizontalMenu > .horizontalMenu-list > li > .horizontal-megamenu .title 
{
    padding: 5px 5px 5px 0px;
    font-size: 15px;
    color: #000000;
    margin: 0px 0px 4px 0px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}

.megamenu-content .row
{
	display:flex;
}

.cartWishSearchWrap
{
	display:flex;
	grid-column-gap:10px;
}

@media only screen and (max-width: 991px)
{
	.horizontalMenu > .horizontalMenu-list {
		height: auto;
		min-height: 100%;
		width: 240px;
		background: #fff;
		padding-bottom: 0;
		margin-left: -240px;
		display: block;
		text-align: center;
	}

	.hideMenuMobile	
	{
		display:none !important;
	}
	
	span.smllogo img {
    height: 20px;
}
	
	.megamenu-content .row {
		display: unset;
	}	
		
	.horizontalMenu > .horizontalMenu-list > li > .horizontal-megamenu .megamenu-content
	{
		padding: 0px 20px;
		
	}
	
	.horizontalMenu > .horizontalMenu-list > li .horizontalMenu-click.horizontal-activearrow > i {
		transform: rotate(180deg);
		display: none;
	}	
}

/* Navigation Bar */

